# TP Scoring : Néttoyage du jeu de données

## Membres: Linsey Nkatouloulou & Guilhem Mobasso

Le fichier ou l'on peut retrouver les données avec les premieres analyses (c'est mieux de séparer si on veut jeter un coup d'oeil aux data au lieu de remonter à chaque fois)

• **Carte** = Le numero de carte

• **Date** = La date de la transaction

• **Montant** = Le montant de la transaction

• **Pays** = Le code du pays dans lequel la transaction a été réalisée

• **MCC** = Le code du commercant chez qui la transaction a été réalisée

• **CodeRep** = Code réponse de la demande d’autorisation : 00 = Accepté, les autres codes sont des refus

• **Fraude** = La variable fraude permet d’identifier les transactions frauduleuses

• **FM_Velocity_Condition** Nombre de transactions réalisées dans les X dernières heures pour chaque carte (Vélocité)

• **FM_sum** Montant cumulé des transactions réalisées dans les X dernières heures

• **FM_difference** Montant cumulé des transactions réalisées dans des pays différnents X dernières heures

• **FM_redondance** Nombre de transactiosn réalisées chez un même type de commerçant

In [1]:
import sys
import os

print("Current working directory:", os.getcwd())

sys.path.append(os.path.abspath('..'))
print("Updated sys.path:", sys.path)
from load_data import chargement_data

import pandas as pd
import zipfile
from sas7bdat import SAS7BDAT

Current working directory: C:\Users\glmobassotch\Documents\Scoring\SCORING-TIDE-analyse_2\analyse
Updated sys.path: ['C:\\Users\\glmobassotch\\Documents\\Scoring\\SCORING-TIDE-analyse_2\\analyse', 'C:\\Users\\glmobassotch\\AppData\\Local\\anaconda3\\python311.zip', 'C:\\Users\\glmobassotch\\AppData\\Local\\anaconda3\\DLLs', 'C:\\Users\\glmobassotch\\AppData\\Local\\anaconda3\\Lib', 'C:\\Users\\glmobassotch\\AppData\\Local\\anaconda3', '', 'C:\\Users\\glmobassotch\\AppData\\Local\\anaconda3\\Lib\\site-packages', 'C:\\Users\\glmobassotch\\AppData\\Local\\anaconda3\\Lib\\site-packages\\win32', 'C:\\Users\\glmobassotch\\AppData\\Local\\anaconda3\\Lib\\site-packages\\win32\\lib', 'C:\\Users\\glmobassotch\\AppData\\Local\\anaconda3\\Lib\\site-packages\\Pythonwin', 'C:\\Users\\glmobassotch\\Documents\\Scoring\\SCORING-TIDE-analyse_2']

In [2]:
file_path = '../data/autorisations.sas7bdat'  

with SAS7BDAT(file_path) as reader:
    df = reader.to_data_frame()

In [3]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None

df.head(10)

,Carte,Pays,Date,Heure,dateheure,CodeRep,MCC,Montant,fraude,FM_Velocity_Condition_3,FM_Velocity_Condition_6,FM_Velocity_Condition_12,FM_Velocity_Condition_24,FM_Sum_3,FM_Sum_6,FM_Sum_12,FM_Sum_24,FM_Redondance_MCC_3,FM_Redondance_MCC_6,FM_Redondance_MCC_12,FM_Redondance_MCC_24,FM_Difference_Pays_3,FM_Difference_Pays_6,FM_Difference_Pays_12,FM_Difference_Pays_24
0,0.0,840,2003-12-02,17:47:52,2003-12-02,15,5812,69.25,0.0,0.0,0.0,0.0,0.0,69.25,69.25,69.25,69.25,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,1.0,158,2003-11-25,06:00:20,2003-11-25,15,5311,1.00,0.0,0.0,0.0,0.0,0.0,1.00,1.00,1.00,1.00,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,2.0,826,2003-11-12,14:10:57,2003-11-12,15,5211,516.95,0.0,0.0,0.0,0.0,0.0,516.95,516.95,516.95,516.95,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,3.0,840,2003-11-07,03:41:55,2003-11-07,14,7399,0.01,0.0,0.0,0.0,0.0,0.0,0.01,0.01,0.01,0.01,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,4.0,158,2003-11-23,05:07:03,2003-11-23,15,5311,1.00,0.0,0.0,0.0,0.0,0.0,1.00,1.00,1.00,1.00,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
5,5.0,158,2003-11-17,02:26:28,2003-11-17,15,5311,1.00,0.0,0.0,0.0,0.0,0.0,1.00,1.00,1.00,1.00,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
6,6.0,840,2003-12-03,02:52:14,2003-12-03,15,5969,48.46,0.0,0.0,0.0,0.0,0.0,48.46,48.46,48.46,48.46,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
7,6.0,840,2003-12-04,02:36:37,2003-12-04,15,5969,48.32,0.0,0.0,0.0,0.0,0.0,48.32,48.32,48.32,96.50,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0
8,6.0,840,2003-12-05,02:46:17,2003-12-05,15,5969,48.32,0.0,0.0,0.0,0.0,0.0,48.32,48.32,48.32,48.32,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
9,6.0,840,2003-12-06,02:30:31,2003-12-06,15,5969,48.18,0.0,0.0,0.0,0.0,0.0,48.18,48.18,48.18,96.78,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1151432 entries, 0 to 1151431
Data columns (total 25 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   Carte                     1151432 non-null  float64
 1   Pays                      1151432 non-null  object
 2   Date                      1151432 non-null  object
 3   Heure                     1151432 non-null  object
 4   dateheure                 1151432 non-null  object
 5   CodeRep                   1151432 non-null  object
 6   MCC                       1151432 non-null  object
 7   Montant                   1151432 non-null  float64
 8   fraude                    1151432 non-null  float64
 9   FM_Velocity_Condition_3   1151432 non-null  float64
 10  FM_Velocity_Condition_6   1151432 non-null  float64
 11  FM_Velocity_Condition_12  1151432 non-null  float64
 12  FM_Velocity_Condition_24  1151432 non-null  float64
 13  FM_Sum_3                  1151432 non-null  float64
 14  FM_Sum_6                  1151432 non-null  float64
 15  FM_Sum_12                 1151432 non-null  float64
 16  FM_Sum_24                 1151432 non-null  float64
 17  FM_Redondance_MCC_3       1151432 non-null  float64
 18  FM_Redondance_MCC_6       1151432 non-null  float64
 19  FM_Redondance_MCC_12      1151432 non-null  float64
 20  FM_Redondance_MCC_24      1151432 non-null  float64
 21  FM_Difference_Pays_3      1151432 non-null  float64
 22  FM_Difference_Pays_6      1151432 non-null  float64
 23  FM_Difference_Pays_12     1151432 non-null  float64
 24  FM_Difference_Pays_24     1151432 non-null  float64
dtypes: float64(19), object(6)
memory usage: 219.6+ MB

In [5]:
df.dtypes

Carte                       float64
Pays                         object
Date                         object
Heure                        object
dateheure                    object
CodeRep                      object
MCC                          object
Montant                     float64
fraude                      float64
FM_Velocity_Condition_3     float64
FM_Velocity_Condition_6     float64
FM_Velocity_Condition_12    float64
FM_Velocity_Condition_24    float64
FM_Sum_3                    float64
FM_Sum_6                    float64
FM_Sum_12                   float64
FM_Sum_24                   float64
FM_Redondance_MCC_3         float64
FM_Redondance_MCC_6         float64
FM_Redondance_MCC_12        float64
FM_Redondance_MCC_24        float64
FM_Difference_Pays_3        float64
FM_Difference_Pays_6        float64
FM_Difference_Pays_12       float64
FM_Difference_Pays_24       float64
dtype: object

In [6]:
# Vérification de la présence de doublons

print(f'Nombre de doublons : {df.duplicated().sum()}')

Nombre de doublons : 0

In [7]:
# Contrôle des valeurs manquantes
print(f'Nombre de valeurs manquantes : {df.count().isna().sum()}')

Nombre de valeurs manquantes : 0

In [8]:
# Tableau récapitulatifs sur les modalités de chaques variables

df_dtypes = df.dtypes.reset_index().rename(columns={'index':'Champ',0:'Type'})
df_dtypes

for i in df.columns:
    df_dtypes.loc[df_dtypes['Champ']==i,'Modalités'] = str(sorted(df[i].unique().tolist()))
    df_dtypes.loc[df_dtypes['Champ']==i,'NbDistinctVal'] = df[i].nunique()
    
df_dtypes

,Champ,Type,Modalités,NbDistinctVal
0,Carte,float64,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...",198044.0
1,Pays,object,"['008', '012', '020', '028', '031', '032', '03...",167.0
2,Date,object,"[datetime.date(2003, 11, 1), datetime.date(200...",243.0
3,Heure,object,"['00:00:00', '00:00:01', '00:00:02', '00:00:03...",85697.0
4,dateheure,object,"[datetime.date(2003, 11, 1), datetime.date(200...",243.0
5,CodeRep,object,"['00', '02', '05', '07', '14', '15', '30', '41...",15.0
6,MCC,object,"['0000', '0001', '0004', '0100', '0596', '0741...",661.0
7,Montant,float64,"[0.0, 0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07...",81202.0
8,fraude,float64,"[0.0, 1.0]",2.0
9,FM_Velocity_Condition_3,float64,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...",47.0
10,FM_Velocity_Condition_6,float64,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...",82.0
11,FM_Velocity_Condition_12,float64,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...",111.0
12,FM_Velocity_Condition_24,float64,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...",130.0
13,FM_Sum_3,float64,"[0.0, 0.01, 0.02, 0.03, 0.039999999999632, 0.0...",109848.0
14,FM_Sum_6,float64,"[0.0, 0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07...",115535.0
15,FM_Sum_12,float64,"[0.0, 0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07...",121201.0
16,FM_Sum_24,float64,"[0.0, 0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07...",134271.0
17,FM_Redondance_MCC_3,float64,"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...",39.0
18,FM_Redondance_MCC_6,float64,"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...",39.0
19,FM_Redondance_MCC_12,float64,"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...",46.0
20,FM_Redondance_MCC_24,float64,"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...",59.0
21,FM_Difference_Pays_3,float64,"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...",10.0
22,FM_Difference_Pays_6,float64,"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...",15.0
23,FM_Difference_Pays_12,float64,"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...",15.0
24,FM_Difference_Pays_24,float64,"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...",17.0

In [9]:
# Dictionnaire de conversion des types
conversion_dict = {'Carte': 'object', 'Pays': 'object', 'Date': 'datetime64[ns]', 'Heure': 'datetime64[ns]', 'dateheure': 'datetime64[ns]',
                   'CodeRep': 'object', 'MCC': 'object', 'Montant': 'float64', 'fraude': 'object',
                   'FM_Velocity_Condition_3': 'int64', 'FM_Velocity_Condition_6': 'int64', 'FM_Velocity_Condition_12': 'int64',
                   'FM_Velocity_Condition_24': 'int64', 'FM_Sum_3': 'float64', 'FM_Sum_6': 'float64', 'FM_Sum_12': 'float64', 
                   'FM_Sum_24': 'float64', 'FM_Redondance_MCC_3': 'int64', 'FM_Redondance_MCC_6': 'int64', 
                   'FM_Redondance_MCC_12': 'int64', 'FM_Redondance_MCC_24': 'int64', 'FM_Difference_Pays_3': 'int64',
                   'FM_Difference_Pays_6': 'int64', 'FM_Difference_Pays_12': 'int64', 'FM_Difference_Pays_24': 'int64'}

# Application de la conversion
df = df.astype(conversion_dict)

df.dtypes

C:\Users\glmobassotch\AppData\Local\Temp\ipykernel_11596\1478963157.py:11: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = df.astype(conversion_dict)

Carte                               object
Pays                                object
Date                        datetime64[ns]
Heure                       datetime64[ns]
dateheure                   datetime64[ns]
CodeRep                             object
MCC                                 object
Montant                            float64
fraude                              object
FM_Velocity_Condition_3              int64
FM_Velocity_Condition_6              int64
FM_Velocity_Condition_12             int64
FM_Velocity_Condition_24             int64
FM_Sum_3                           float64
FM_Sum_6                           float64
FM_Sum_12                          float64
FM_Sum_24                          float64
FM_Redondance_MCC_3                  int64
FM_Redondance_MCC_6                  int64
FM_Redondance_MCC_12                 int64
FM_Redondance_MCC_24                 int64
FM_Difference_Pays_3                 int64
FM_Difference_Pays_6                 int64
FM_Difference_Pays_12                int64
FM_Difference_Pays_24                int64
dtype: object

In [10]:
df.columns = [col.lower() for col in df.columns]
df.head(10)

,carte,pays,date,heure,dateheure,coderep,mcc,montant,fraude,fm_velocity_condition_3,fm_velocity_condition_6,fm_velocity_condition_12,fm_velocity_condition_24,fm_sum_3,fm_sum_6,fm_sum_12,fm_sum_24,fm_redondance_mcc_3,fm_redondance_mcc_6,fm_redondance_mcc_12,fm_redondance_mcc_24,fm_difference_pays_3,fm_difference_pays_6,fm_difference_pays_12,fm_difference_pays_24
0,0.0,840,2003-12-02,2024-06-23 17:47:52,2003-12-02,15,5812,69.25,0.0,0,0,0,0,69.25,69.25,69.25,69.25,1,1,1,1,1,1,1,1
1,1.0,158,2003-11-25,2024-06-23 06:00:20,2003-11-25,15,5311,1.00,0.0,0,0,0,0,1.00,1.00,1.00,1.00,1,1,1,1,1,1,1,1
2,2.0,826,2003-11-12,2024-06-23 14:10:57,2003-11-12,15,5211,516.95,0.0,0,0,0,0,516.95,516.95,516.95,516.95,1,1,1,1,1,1,1,1
3,3.0,840,2003-11-07,2024-06-23 03:41:55,2003-11-07,14,7399,0.01,0.0,0,0,0,0,0.01,0.01,0.01,0.01,1,1,1,1,1,1,1,1
4,4.0,158,2003-11-23,2024-06-23 05:07:03,2003-11-23,15,5311,1.00,0.0,0,0,0,0,1.00,1.00,1.00,1.00,1,1,1,1,1,1,1,1
5,5.0,158,2003-11-17,2024-06-23 02:26:28,2003-11-17,15,5311,1.00,0.0,0,0,0,0,1.00,1.00,1.00,1.00,1,1,1,1,1,1,1,1
6,6.0,840,2003-12-03,2024-06-23 02:52:14,2003-12-03,15,5969,48.46,0.0,0,0,0,0,48.46,48.46,48.46,48.46,1,1,1,1,1,1,1,1
7,6.0,840,2003-12-04,2024-06-23 02:36:37,2003-12-04,15,5969,48.32,0.0,0,0,0,0,48.32,48.32,48.32,96.50,1,1,1,2,1,1,1,1
8,6.0,840,2003-12-05,2024-06-23 02:46:17,2003-12-05,15,5969,48.32,0.0,0,0,0,0,48.32,48.32,48.32,48.32,1,1,1,1,1,1,1,1
9,6.0,840,2003-12-06,2024-06-23 02:30:31,2003-12-06,15,5969,48.18,0.0,0,0,0,0,48.18,48.18,48.18,96.78,1,1,1,2,1,1,1,1

In [11]:
# Tableau récapitulatifs sur les modalités de chaques variables

df_dtypes = df.dtypes.reset_index().rename(columns={'index':'Champ',0:'Type'})
df_dtypes

for i in df.columns:
    df_dtypes.loc[df_dtypes['Champ']==i,'Modalités'] = str(sorted(df[i].unique().tolist()))
    df_dtypes.loc[df_dtypes['Champ']==i,'NbDistinctVal'] = df[i].nunique()
    
df_dtypes

,Champ,Type,Modalités,NbDistinctVal
0,carte,object,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...",198044.0
1,pays,object,"['008', '012', '020', '028', '031', '032', '03...",167.0
2,date,datetime64[ns],"[Timestamp('2003-11-01 00:00:00'), Timestamp('...",243.0
3,heure,datetime64[ns],"[Timestamp('2024-06-23 00:00:00'), Timestamp('...",85697.0
4,dateheure,datetime64[ns],"[Timestamp('2003-11-01 00:00:00'), Timestamp('...",243.0
5,coderep,object,"['00', '02', '05', '07', '14', '15', '30', '41...",15.0
6,mcc,object,"['0000', '0001', '0004', '0100', '0596', '0741...",661.0
7,montant,float64,"[0.0, 0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07...",81202.0
8,fraude,object,"[0.0, 1.0]",2.0
9,fm_velocity_condition_3,int64,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",47.0
10,fm_velocity_condition_6,int64,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",82.0
11,fm_velocity_condition_12,int64,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",111.0
12,fm_velocity_condition_24,int64,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",130.0
13,fm_sum_3,float64,"[0.0, 0.01, 0.02, 0.03, 0.039999999999632, 0.0...",109848.0
14,fm_sum_6,float64,"[0.0, 0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07...",115535.0
15,fm_sum_12,float64,"[0.0, 0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07...",121201.0
16,fm_sum_24,float64,"[0.0, 0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07...",134271.0
17,fm_redondance_mcc_3,int64,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",39.0
18,fm_redondance_mcc_6,int64,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",39.0
19,fm_redondance_mcc_12,int64,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",46.0
20,fm_redondance_mcc_24,int64,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",59.0
21,fm_difference_pays_3,int64,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]",10.0
22,fm_difference_pays_6,int64,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",15.0
23,fm_difference_pays_12,int64,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",15.0
24,fm_difference_pays_24,int64,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",17.0

Le nettoyage de donnée à l'air ok : je sauvegarde mon fichier dans un parquet file pour l'utiliser dans l'analyse descriptive

In [12]:
# Supprimer la variable dateheure

In [13]:
df.to_parquet('../data/cleaned_data.parquet')